<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: web.xml 1063 2014-09-16 09:16:10Z krevelen $ -->
<!-- set metadata-complete="true" for Jetty to skip annotation scanning in 
	lib & classes -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" metadata-complete="true">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- overrides Jetty's webdefault.xml in jetty-webapp-XX.jar-->
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>

		<!-- added to prevent file locking on Windows file systems -->
		<init-param>
			<param-name>useFileMappedBuffer</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>RestServlet</servlet-name>
		<servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
		<init-param>
			<param-name>applicationConfigLocation</param-name>
			<param-value>/WEB-INF/wink.app</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<!-- TODO: cleanup <servlet> <servlet-name>SimulatorProxyServlet</servlet-name> 
		<servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class> <init-param> 
		<param-name>targetUri</param-name> <param-value>http://localhost:8080/simulations</param-value> 
		</init-param> <init-param> <param-name>log</param-name> <param-value>false</param-value> 
		</init-param> </servlet> <servlet-mapping> <servlet-name>SimulatorProxyServlet</servlet-name> 
		<url-pattern>/simulations/*</url-pattern> </servlet-mapping> -->

</web-app>
